@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fontawesome';
	src: url('fonts/fa-regular-400.eot');
	src: local('☺'), url('fonts/fa-regular-400.woff') format('woff'), url('fonts/fa-regular-400.ttf') format('truetype'), url('fonts/fa-regular-400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body{
    --green-color: #1ABC9C;
	--black-footer: #222533;
	--maintext-color: #A1B1BC;
	--title-color: #2C3E50;
	margin: 0;
	font-family: 'Lato' , sans-serif;
	font-weight: 500;
	font-size: 1rem;
	}
	

/* Header  */

#header1{
	display: flex;
}

.lang p{
	font-weight: 700;
	color: var(--maintext-color);
}

.cart{
	display: flex;
	width: 96px;
	height: 30px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 900;
	color: var(--maintext-color);
	border: 1px solid #ECF0F1;
	border-radius: 3px;
	justify-content: center;
	align-items: center;

}

.socials ul{
	list-style: none;
	display: flex;
}

.elegant{
	font-family: 'ElegantIcons';
}

.icon-facebook::before{
	content: "&#xe093";
	font-size: 18px;
}

#header2{
	display: flex;
	box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.75);
}

.menu ul{
	display: flex;
	list-style: none;
}

.menu li a{
	color: var(--maintext-color);
	text-decoration: none;
}

#header3{
	display: flex;
}

#titleheader h1{
	font-size: 1.875rem;
	font-weight: 400;
	color: var(--title-color);
}

#path nav{
	display: flex;
}