@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fontawesome';
	src: url('fonts/fa-regular-400.eot');
	src: local('☺'), url('fonts/fa-regular-400.woff') format('woff'), url('fonts/fa-regular-400.ttf') format('truetype'), url('fonts/fa-regular-400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* General Use -------- */


body{
    --green-color: #1ABC9C;
	--black-footer: #222533;
	--grey-p :#A1B1BC;
	--title-color: #2C3E50;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
}

.container{
    width: 100%;
    max-width: 73.125rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header ------ */


#header1 .container{
	display: flex;
	align-items: center;
}

#header1::after{
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(122, 121, 121, 0.356);
}

.lang{
	margin-right: 36.75rem;
}

.lang p{
	font-weight: 700;
	color: var(--grey-p);
}

.marginspan{
	margin-left: 0.5rem;
}

.cart{
	display: flex;
	width: 6rem;
	height: 1.875rem;
	text-transform: uppercase;
	font-size: 0.813rem;
	font-weight: 900;
	color: var(--grey-p);
	border: 1px solid #ECF0F1;
	border-radius: 0.188rem;
	justify-content: center;
	align-items: center;
}

.socials{
	margin-left: 1.563rem;
}

.socials ul{
	list-style: none;
	display: flex;
}

.socials li a{
	color: var(--grey-p);
	font-size: 1.125rem;
	margin: 0 0.25rem;
}

.elegant{
	font-family: 'ElegantIcons';	
}

.icon-facebook::before{
	content: "";
}

.icon-twitter::before{
	content: '';
}

.icon-tumblr::before{
	content: '';
}

.icon-vimeo::before{
	content: '';
}

.icon-linkedin::before{
	content: ' ';
}

.icon-dribble::before{
	content: '';
}
.icon-instagram::before{
	content: '';
}
.icon-rss::before{
	content: '';
}

#header2{
	margin-top: 0.5rem;
	box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.75);
}

#header2 .container{
	display: flex;
	justify-content: space-between;
}


.menu ul{
	display: flex;
	list-style: none;
	position: relative;	
	top: 0.938rem;
}

.menu li a{
	color: var(--grey-p);
	margin: 0 1.469rem;
}

.menu li a:hover{
	color: var(--green-color);
	border-top: 2px solid var(--green-color);
	padding-top: 2.375rem;
}

.icon-search::before{
	content: 'U';
	font-size: 1.25rem;
	color: black;
}

#header3{
	height: 7.563rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#titleheader h1{
	font-size: 1.875rem;
	font-weight: 400;
	color: var(--title-color);
	text-transform: capitalize;
}

#path nav{
	display: flex;	
}


.path {
	margin: 0 0.5rem;
	color: var(--grey-p);
	font-size: 0.875rem;
}

.selectedpage{
	font-weight: 700;
}


/* Main ----  */

/* 250 */

.titlecolumn{
	font-family: "Lato";
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--title-color);
}

.lato14reg{
	font-weight: 400;
	color: var(--grey-p);
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.readmore{
	text-transform: uppercase;
	color: white;
	background-color: var(--title-color);
	border: 1px solid;
	border-radius: 0.1875rem;
	padding: 0.875rem;
	font-weight: 900;
	font-size: 0.875rem;
}

.buttonread{
	margin:1.9375rem 1.875rem;
}


.readmore:hover{
	background-color: var(--green-color);
}

.contourarticle{
	box-sizing: border-box;
	border: 1px solid #ECF0F1;
	background-color: #fff;
	max-width:23.125rem;
	padding: 1.125rem 0 0.625rem;

}

.lato14bold{
	font-weight: 700;
	font-size: 0.875rem;
}

.far .fas{
	font-family: "Fontawesome";
	padding-right: 0.1875rem;
}

section{
	margin-bottom: 1.875rem;
}

.column-padding{
	padding: 0 1.125rem;
}

.greyline::after{
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(122, 121, 121, 0.356);
}

main section footer div p:hover >a {
	color:var(--title-color);
}

.com-month-likes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

iframe{
	border:none;
}

/* You May Be...*/

.lato30bold{
	font-family: "Lato";
	font-weight: 700;
	font-size: 1.875rem;
	color: white;
}

#youmaybe11{
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.fondbleu{
	background-color: #21C2F8;
	margin: 0 1.25rem;
	padding-top: 0.0625rem;
	}

.fondbleu p{
	color: white;
}

.ligneblanche{
	border-bottom: white 1px solid;
	padding: 0;
	margin: 0;
}

#youmaybe1 header span{
	float: right;
	margin-top: -3.125rem;
}

#youmaybe1 header .http{
	margin: 0 0 2.125rem 0;
	padding: 0.625rem;
	color: white;
}

.vertical-line{
	border-left: 1px solid var(--grey-p);
	margin-left: 1.125rem;
}

#youmaybe1 a header:hover{
	background-color: var(--title-color);
}

#youmaybe1 a header:hover> span{
	color: var(--green-color);
}

#youmaybe1 a header:hover >p {
	color: var(--green-color);
}




/* Amazing standard blog Colonne 1 */

.bkcolorimg{
	background-color: #CCCCCC;
	width:20.625rem;
	height: 15.625rem;
	margin: 0;
}

.imgamaz1{
	background-image: url("medias/img1col1.jpg");
}

/* Slider1 Colonne 1*/
.image1{
    width:20.625rem;
    height: 15.625rem;
    background-image: url("medias/slide1-1.jpg");
}

.image2{
    width:20.625rem;
    height: 15.625rem;
    background-image: url("medias/slide1-2.jpg");
}

.image3{
    width:20.625rem;
    height: 15.625rem;
    background-image: url("medias/slide1-3.jpg");
}

.fa-expand-alt{
	font-size: 1rem;
	color: #cfdfe9;

}

.slider {
	width: 20.625rem;
	height: 15.625rem;
	overflow: hidden;
	margin-left: 1.125rem;
	position: relative;
	z-index: 1;

}
.slides {
	width: calc(20.625rem * 3);
	animation: glisse 15s infinite;
	position: relative;
	z-index: 2;
}

.slide {
	float: left;
	position: relative;
	z-index: 3;
}

@keyframes glisse {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(0);
	}
	33% {
		transform: translateX(-20.625rem);
	}
	43% {
		transform: translateX(-20.625rem);
	}
	66% {
		transform: translateX(-41.25rem);
	}
	76% {
		transform: translateX(-41.25rem);
	}
	100% {
		transform: translateX(0);
	}
}

.margslide{
	float: right;
	margin: 1.25rem 1.5rem;
}

.fa-expand-alt:hover{
	color: var(--green-color);
	font-size: 1.875rem;
}

.carreslide{
	border: 1px solid white;
	padding: 0.625rem;
	border-radius: 2.25px;
	background-color: #fff;
}

.slides .fa-angle-left{
	position: absolute;
	margin:7.1875rem 0 18.75rem;
	color: var(--title-color)

}

.slides .fa-angle-right{
	position: absolute;
	margin:7.1875rem 18.75rem 0 ;
	color: var(--title-color)
}

.fa-angle-left:hover, .fa-angle-right:hover{
	color:var(--green-color)
}









/* Column 2 ---  */

#column2{
	width: 100%;
	max-width: 368px;
	max-height: 2843px;
}

.column-width2{
	margin: 0 ;
    box-sizing: border-box;
	max-width: 368px;
	border: 1px solid #ECF0F1;
	padding: 18px 0 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	
}

.column-padding{
	padding: 0 18px;
}

.greyline::after{
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(122, 121, 121, 0.356);
	
}

.margin-read{
	margin-top: 1.9375rem;
}

.linep{
	line-height: 24px;
}

/* Vimeo ---  */
#vimeo-1 footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* Hoverstyle ---  */

#hoverstyle footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.div-float{
	max-width: 330px;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #545760;
}

#divspan{
	display: flex;
}

.spanbutton{	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 50px;
	margin-right: 0.625rem;
}

.spanbutton:hover{
	background-color: #21C2F8;
	border: #21C2F8;	
}

.div-float p,h3{
	color: white;
	text-align: center;
}

.div-float h3{
	font-size: 18px;
	font-weight: 700;
}

.lato14-p{
	font-size: 0.875rem;
}

.margin-line{
	margin-top: 30px;
}

/* Standard blog ---  */

#standardblog footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* loseresponsive ---  */


#loseresponsive header span{
	float: right;
	margin-top: -50px;
}

#loseresponsive header .http{
	margin: 0 0 34px 0;
	padding: 0.625rem;
	color: white;
}

#loseresponsive a header:hover{
	background-color: var(--title-color);
}

#loseresponsive a header:hover> span{
	color: var(--green-color);
}

#loseresponsive a header:hover >p {
	color: var(--green-color);
}


#loseresponsive footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* onlytext ---  */

#onlytext footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#onlytext-hoverstyle:hover{
	background-color: var(--title-color);
}

#onlytext-hoverstyle:hover h2{
	color: white;
}

#onlytext-hoverstyle:hover p{
	color: white;
}

#onlytext-hoverstyle:hover h2 span{
	display: none;
}
#onlytext-hoverstyle:hover h2::after{
	content: '- Hover Style';
}
#onlytext-hoverstyle:hover p span{
	color: var(--green-color);
}

#onlytext-hoverstyle:hover a{
	color: white;
}




/* Pagination */

#pagination ul{
	list-style: none;
}

#pagination p:first-child{
	color: var(--grey-p);;
}

#pagination p span{
	color: var(--green-color);
}

#pagination ul li a .fa-home{
	border: 1px solid var(--black-footer);
	background-color: var(--black-footer);
	padding: 18px;
	border-radius: 3px;
	color: white;
	margin: 0.625rem;
}

#pagination ul li a .fa-angle-left{
	border: 1px solid var(--black-footer);
	background-color: var(--black-footer);
	padding: 18px 23px ;
	border-radius: 3px;
	color: white;
	margin: 0.625rem;
}

#pagination ul li a .fa-angle-right{
	border: 1px solid var(--black-footer);
	background-color: var(--black-footer);
	padding: 18px 23px ;
	border-radius: 3px;
	color: white;
	margin: 0.625rem;
}

#pagination .fa-angle-right:hover{
	color: var(--green-color);
	background-color: var(--title-color);
}

#pagination li .fa-angle-left:hover{
	color: var(--green-color);
	background-color: var(--title-color);
}

#pagination li .fa-home:hover{
	color: var(--green-color);
	background-color: var(--title-color);
}

#pagination{
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.page ul{
	display: flex;
}


/* Footer -----  */

.lato16black{
	font-weight: 900;
	color: white;
	font-size: 1rem;
	letter-spacing: 0.3125rem; 
	margin-bottom: 0.5625rem;
}

.lato16bold{
	margin-bottom: 0;
}

.lato16bold a{
	font-weight: 700;
	color: #ECF0F1;
	font-size: 1rem;
}

.green{
	color:var(--green-color);
}

.lato14black{
	font-weight: 900;
	font-size: 0.875rem;
}

.lato14black:hover{
	border-bottom: 3px solid var(--green-color)
}

.lato15reg{
	font-weight: 400;
	color: var(--grey-p);
	font-size: 0.9375rem;
}

#first-footer .container{
	height: 29.188rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#first-footer{
	background-color: var(--black-footer);
}

#second-footer{
	background-color: #171D22;
}

.underline-green{
	border-bottom: 0.1875rem var(--green-color) solid;
	width: 4.375rem;
	margin-bottom: 2.375rem;
}

.grey-line{
	border: 1px #46515C solid;
	margin-top: 1.5625rem;
	margin-bottom: 1.5625rem;
	width: 16.875rem;
}

#first-footer section{
	width:20%;
}


#first-footer p a:hover{
	color: var(--green-color);
}

#second-footer .container{
	display: flex;
	justify-content: space-between;
}

.elegant{
	font-family: 'ElegantIcons';	
}

.icon-facebook::before{
	content: "";
}

.icon-twitter::before{
	content: '';
}

.icon-tumblr::before{
	content: '';
}

.icon-vimeo::before{
	content: '';
}

.icon-linkedin::before{
	content: ' ';
}

.icon-dribble::before{
	content: '';
}
.icon-instagram::before{
	content: '';
}
.icon-rss::before{
	content: '';
}

.socials ul{
	list-style: none;
	display: flex;
}

.socials li a{
	color: var(--grey-p);
	font-size: 1.125rem;
	margin: 0 0.25rem;
}

footer #second-footer li a:hover{
	color: white;
}
.container .sfooter4 .lato14reg{
	line-height: 1.5rem;
}

#first-footer .container p{
	margin-top:0.625rem;
}
.container .sfooter4{
	height: 72%;
}
.sfooter4 .grey-line {
	margin-bottom: 1rem;
	margin-top:1rem;
}

#second-footer p span{
	color: var(--green-color);
}
