@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fontawesome';
	src: url('fonts/fa-regular-400.eot');
	src: local('☺'), url('fonts/fa-regular-400.woff') format('woff'), url('fonts/fa-regular-400.ttf') format('truetype'), url('fonts/fa-regular-400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	--green-color: #1ABC9C;
	--black-footer: #222533;
	--grey-p :#A1B1BC;
	margin: 0;
}


.lato16black{
	font-family: "Lato";
	font-weight: 900;
	color: white;
	font-size: 1rem;
	letter-spacing: 5px; 
	line-height: 5.625rem;
}


.underline-green{
	border-bottom: 3px var(--green-color) solid;
	line-height: 2rem;
}



.lato16bold{
	font-family: "Lato";
	font-weight: 700;
	color: #ECF0F1;
	font-size: 1rem;
	line-height: 0.25rem;
}

.lato16bold:hover{
	color: var(--green-color)
}

.lato14reg{
	font-family: "Lato";
	font-weight: 400;
	color: var(--grey-p);
	font-size: 0.875rem;
}

.lato14black{
	font-family: "Lato";
	font-weight: 900;
	color:var(--green-color);
	font-size: 0.875rem;
}

.lato14black:hover{
	color: white;
}

a{
	text-decoration: none;
}

#first-footer{
	padding-left: 23.438rem;
	padding-right: 23.438rem;
	margin: 0;
	height: 29.188rem;
	background-color: var(--black-footer);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer section{
	width: 20%;
}

hr{
	color: #46515C;
	margin-top: 1.5625rem;
	margin-bottom: 1.5625rem;
}


#second-footer{
	background-color: #171D22;
	display: flex;
	justify-content: space-between;
	padding-left: 23.438rem;
	padding-right: 23.438rem;
}


.lato15reg{
	font-family: "Lato";
	font-weight: 400;
	color: var(--grey-p);
	font-size: 0.9375rem;
}